/* * {
    outline: 1px solid tomato;
} */

.Header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.Header:hover {
    color: #202124;
    background: #fff;
}

.Header.on {
    color: #202124;
    background: #fff;
    line-height: 70px;
}

.Header h1 {
    font-size: 0;
}

.Header h1 a {
    display: inline-block;
    width: 140px;
    height: 60px;
    background: url(../images/logo_white.png)no-repeat;
    font-size: 0;
    vertical-align: middle;
}

.Header:hover h1 a {
    background: url(../images/logo_black.png)no-repeat;
}

.Header:hover h1 a {
    background: url(../images/logo_black.png)no-repeat;
}

.Header .header_wrap {
    display: flex;
    padding: 0 80px;
}

.Header .header_wrap .Gnb {
    margin: 0 120px 0 auto;
    white-space: nowrap;
}

.Header .header_wrap .util {
    margin: 0 0 0 auto;
}

.Header .header_wrap .util i {
    font-size: 25px;
}



.Header .header_wrap .Gnb>ul {
    display: flex;
    gap: 90px;
}

.Header .header_wrap .Gnb>ul>li {
    position: relative;
    font-weight: 500;
}

.Header .header_wrap .Gnb>ul>li:hover  {
    color: #C4004A;
}

.Header .header_wrap .Gnb>ul>li .Sub {
    position: absolute;
    left: 50%;
    top: 90px;
    z-index: 1;

    transition: 0.2s;
    height: 0;
    overflow: hidden;

    background: #fff;
    line-height: 30px;

    transform: translate(-50%, 0);
}

.Header .Gnb:hover>ul>li .Sub {
    height: 200PX;
}

.Header .Gnb>ul>li .Sub a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    /* width: 100px; */
    word-break: keep-all;
}

.Header .Gnb::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #fff;
    z-index: 1;
    transition: 0.2s;
    height: 0;
}

.Header .Gnb:hover::before {
    height: 220px;
}


.MainVisual {
    position: relative;
}

.MainVisual .VisualSlide .itm {
    position: relative;
    height: 100vh;
}

/* .MainVisual .VisualSlide .itm .slogan strong {
    opacity: 0;
    transform: translate(0, 100px);
}

.MainVisual .VisualSlide .itm.on .slogan strong {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s;
}

.MainVisual .VisualSlide .itm .slogan span {
    display: block;
    opacity: 0;
    transform: translate(0, 100px);
}

.MainVisual .VisualSlide .itm.on .slogan span {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s 0.5s;
} */

.MainVisual .VisualSlide .itm .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.MainVisual .VisualSlide .itm .slogan strong {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    color: #fff;
    margin: 0 0 24px 0;
    text-shadow: 1px 2px 2px #000;
}

.MainVisual .VisualSlide .itm .slogan span {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-shadow: 1px 2px 2px #000;
}

.MainVisual .VisualSlide .itm01 {
    background: url(../images/mainBanner_001.jpg)no-repeat center center/cover;
}

.MainVisual .VisualSlide .itm02 {
    background: url(../images/mainBanner_002.jpg)no-repeat center center/cover;
}

.MainVisual .VisualSlide .itm03 {
    background: url(../images/mainBanner_003.jpg)no-repeat center center/cover;
}

.MainContent {
    padding: 100px 0;
}

.MainContent .title {
    max-width: 1200px;
    margin: 0 auto 24px auto;
    padding: 0 15px;

    position: relative;
    margin-top: 20px;
    margin-bottom: -24px;
    z-index: 999;
}


.MainContent .title h2 {
    /* font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px 0; */

    display: inline-block;
    opacity: 1;
    line-height: 1;
    font-size: 88px;
    font-weight: 700;
}

.MainContent .Content_inner {
    display: flex;
    gap: 30px;
    width: calc((100% - 1200px) / 2 + 1200px);
    margin: 0 0 0 auto;
    padding: 0 0 0 15px;
}

.MainContent .Content_inner .tab_menu {
    flex: 0 0 400px;
    overflow: hidden;
    box-sizing: border-box;
    height: 200px;
    margin: 80px 0 0 0;
}

.MainContent .Content_inner .tab_content {
    flex: 1;
    overflow: hidden;
}

.MainContent .tab_menu {
    display: flex;
    flex-direction: column;
}

.MainContent .tab_content li {
    visibility: hidden;
    height: 0;
    /* width: 120%; */
}

.MainContent .tab_content li.on {
    visibility: visible;
    height: auto;
}

.MainContent .tab_content li figure {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px; */
    /* margin: 0 30px 0 0; */
}

/* .MainContent .tab_content li figure {
    width: 200px;
    height: 200px;
    transition: none !important;
}

.MainContent .tab_content li figure.slick-current {
    width: 500px;
    height: 500px;
    transition: none !important;
} */

/* .MainContent .tab_content li figure img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.MainContent .tab_content li figure.slick-current img {
    width: 500px;
    height: 500px;
    object-fit: cover;
} */
.MainContent .tab_content li figure {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 200px;
    height: 500px;
}

.MainContent .tab_content li figure .img_box {}

.MainContent .tab_content li figure.swiper-slide-active {
    flex: 1 0 500px;
}


.MainContent .tab_menu li{
    flex: 1;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    /* margin: 24px 0;
    padding: 40px 0 0 0; */
}

.MainContent .tab_menu li:hover a{
    color: #C4004A;
}
