.Header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.Header:hover {
    color: #202124;
    background: #fff;
}

.Header.on {
    color: #202124;
    background: #fff;
    line-height: 70px;
}

.Header h1 a {
    display: inline-block;
    width: 170px;
    height: 70px;
    background: url(../images/logo_white.png)no-repeat;
    font-size: 0;
    vertical-align: middle;
}

.Header:hover h1 a {
    background: url(../images/logo_black.png)no-repeat;
}

.Header:hover h1 a {
    background: url(../images/logo_black.png)no-repeat;
}

.Header .header_wrap {
    display: flex;
    max-width: 1600px;
    justify-content: space-between;
    padding: 0 15px;
}

.Header .header_wrap .Gnb>ul {
    display: flex;
    gap: 80px;
}

.Header .header_wrap .Gnb>ul>li {
    position: relative;
}

.Header .header_wrap .Gnb>ul>li .Sub {
    position: absolute;
    left: 50%;
    top: 90px;
    z-index: 1;

    transition: 0.2s;
    height: 0;
    overflow: hidden;

    background: #fff;
    line-height: 30px;

    transform: translate(-50%, 0);
}

.Header .Gnb:hover>ul>li .Sub {
    height: 200PX;
}

.Header .Gnb>ul>li .Sub a {
    display: block;
    font-size: 15px;
    font-weight: 400;
    word-break: keep-all;
}

.Header .Gnb::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #fff;
    z-index: 1;
    transition: 0.2s;
    height: 0;
}

.Header .Gnb:hover::before {
    height: 200px;
}


/* .MainVisual {
    position: relative;
} */

.MainVisual .VisualSlide .itm {
    height: 900px;
}

.MainVisual .VisualSlide .itm01 {
    background: url(../images/mainBanner_001.jpg)no-repeat center center/cover;
}

.MainVisual .VisualSlide .itm02 {
    background: url(../images/mainBanner_002.jpg)no-repeat center center/cover;
}

.MainVisual .VisualSlide .itm03 {
    background: url(../images/mainBanner_003.jpg)no-repeat center center/cover;
}